<!-- 
<launch>
  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" output="screen">
    <param name="frame_id" value="zed2i_depth"/>
    <param name="resolution" value="0.1"/>
    <param name="sensor_model/max_range" value="20.0"/>-->
    <!-- <param name="point_cloud_topic" value="/filtered_point_cloud"/> -->
    <!-- <remap from="cloud_in" to="/filtered_point_cloud" /> -->
    <!--
    <remap from="cloud_in" to="/rotated_point_cloud" /> 
    <param name="base_frame_id" value="zed2i_depth" />
  </node>
</launch>
 -->
<!-- <launch>
  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" output="screen">
    <param name="frame_id" value="map"/>
     <param name="resolution" value="0.1"/> -->
    <!--<param name="sensor_model/max_range" value="6.0"/>
    <remap from="cloud_in" to="/altered_point_cloud" /> 
    <param name="base_frame_id" value="base_link" />
    <param name="multithreading" value="true"/>
    <param name="frame_rate" value="20.0" />
    <param name="resolution" value="0.1" />
    <param name="sensor_model/hit" value="1"/>--><!--
    <param name="sensor_model/miss" value="0.45" />--><!--
    <param name="sensor_model/min" value="0" /> -->
    <!--<param name="sensor_model/max" value="0.99" />--><!--
    <param name="occupancy_threshold" value="0.95" />-->
  <!-- </node> -->
<!-- </launch>  -->
<launch>
  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" output="screen">
    <remap from="/odom" to="/filtered_odom"/>
    <param name="frame_id" value="map"/>
    <!-- <param name="resolution" value="0.1"/> -->
    <param name="sensor_model/max_range" value="13.0"/>
    <remap from="cloud_in" to="/altered_point_cloud" /> 
    <param name="base_frame_id" value="base_link" />
    <param name="multithreading" value="true"/>
    <param name="frame_rate" value="50.0" />
    <param name="resolution" value="0.09" />
    <param name="sensor_model/hit" value="1"/><!--
    <param name="sensor_model/miss" value="0.45" />-->
    <param name="sensor_model/min" value="0" /> 
    <!--<param name="sensor_model/max" value="0.99" />-->
    <param name="occupancy_threshold" value="0.95" />
  </node>
</launch>