<launch>
<arg name="base_global_planner" default="navfn/NavfnROS"/>
<arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS"/>

<include file="$(find amcl)/examples/amcl_diff.launch"/>

<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="base_local_planner" value="$(arg base_local_planner)"/>
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="recovery_behaviour_enabled" value="false"/>
    <param name="controller_frequency" value="5.0"/>
    <param name="clearing_rotation_allowed" value="false" />

    <rosparam file="$(find navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find navigation)/params/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find navigation)/params/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find navigation)/params/base_local_planner_params.yaml" command="load"/>
</node>

</launch>